*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-image: url('/static/images/predict-photo.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  


.navbar{
    margin-bottom:0;
    padding: 5px 100px;
    background-color: rgba(255, 255, 255, 0.23) !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
   
}
.logo-name{
    font-size: 24px;
    font-weight: bolder;
    padding-top:20px ;
}
#house{
    color: #007bff; ;
}
 .main{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
   
}
h1{
    text-align: center;
    font-size:40px;
    font-weight: bolder;
}
h2{
    font-size:30px;
    color:#111;
}
div{
      padding:15px;
    }
input{
    background: rgba(255, 255, 255, 0.69);
    border: 1px solid rgba(255, 255, 255, 0.69);
    border-radius: 5px;
    outline: none;
}
input[type=submit]{
            background-color:Black;
            color:white;
            cursor:pointer;
            width: 100px;
}

.btn{
    text-align: center;
    border: 1px solid black;

    
}

#view-data, .send{
    margin: auto;
    border: none;
    border-radius: 5px;
    text-decoration: none !important;
    padding: 5px;
    transition: 0.8s;
    width: fit-content;
    background-color: #007bff;
    color: #fff;
}
#view-data:hover, .send:hover{
    background-color: #0056b3;
}

#predict{
margin: auto 0;
}
#predict-form{
    width: fit-content;
    margin: auto;
}
form{
    border: 1px solid #999;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 0.33);
}


.form-group{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 10px;
}


.form-group label {
    flex: 1;
    margin-right: 2px;
    font-weight: bold;
    color: #111;
}

.form-group input {
    
    margin-left: 5px;
    width:15rem;
    
} 
